<div qv-extension>
	<div>
		<b>Current filter set:</b>
	</div>
	<div>
		{{currentFilterSet || 'None'}}
	</div>
	<br />	
	<div>
		<b>Recommended filter sets:</b>
	</div>
	<div ng-if="recommendedFilterSetList.length == 0">
	  Please, select some filters to start
	</div>
	<div ng-if="recommendedFilterSetList.length > 0">
	  <ul>
	    <li ng-repeat="filterSet in recommendedFilterSetList track by $index">
	      <pre>>> {{filterSet}}</pre>
	    </li>
	  </ul>
	</div>
	<!-- <div>
		<b>Event list:</b>
	</div>
	<ul>
    <li ng-repeat="event in eventList track by $index">
    	<pre>>> {{event}}</pre>
    </li>
	</ul> -->
</div>